apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  application.resourceTrackingMethod: annotation
  resource.exclusions: |
    - apiGroups: ["*"]
      kinds: [ProviderConfigUsage]
  resource.customizations: |
    "*.upbound.io/*":
      health.lua: |
        health_status = {
          status = "Progressing",
          message = "Waiting for resource to be synced and ready..."
        }

        local function contains (table, val)
          for i, v in ipairs(table) do
            if v == val then
              return true
            end
          end
          return false
        end

        local has_no_status = {
          "ClusterProviderConfig",
          "ProviderConfig",
          "ProviderConfigUsage"
        }

        -- Only mark as Healthy if it's a known 'no status' kind and status is empty
        if (obj.status == nil or next(obj.status) == nil) and contains(has_no_status, obj.kind) then
          health_status.status = "Healthy"
          health_status.message = "Resource is up-to-date."
          return health_status
        end

        if obj.status == nil or obj.status.conditions == nil then
          return health_status
        end

        local synced = false
        local ready = false

        for i, condition in ipairs(obj.status.conditions) do
          if condition.type == "Synced" then
            if condition.status == "False" then
              health_status.status = "Degraded"
              health_status.message = condition.message
              return health_status
            end
            if condition.status == "True" then
              synced = true
            end
          end

          if condition.type == "Ready" then
            if condition.status == "True" then
              ready = true
            end
          end
        end

        if synced and ready then
          health_status.status = "Healthy"
          health_status.message = "Resource is healthy and synced."
        end

        return health_status
    "*.crossplane.io/*":
      health.lua: |
        health_status = {
          status = "Progressing",
          message = "Waiting for resource to be synced and ready..."
        }

        local function contains (table, val)
          for i, v in ipairs(table) do
            if v == val then
              return true
            end
          end
          return false
        end

        local has_no_status = {
          "Composition",
          "CompositionRevision",
          "DeploymentRuntimeConfig",
          "ClusterProviderConfig",
          "ProviderConfig",
          "ProviderConfigUsage"
        }

        if (obj.status == nil or next(obj.status) == nil) and contains(has_no_status, obj.kind) then
            health_status.status = "Healthy"
            health_status.message = "Resource is up-to-date."
          return health_status
        end

        if obj.status == nil or obj.status.conditions == nil then
          return health_status
        end

        local synced = false
        local ready = false

        for i, condition in ipairs(obj.status.conditions) do
          if condition.type == "Synced" then
            if condition.status == "False" then
              health_status.status = "Degraded"
              health_status.message = condition.message
              return health_status
            end
            if condition.status == "True" then
              synced = true
            end
          end

          if contains({"Ready", "Healthy", "Offered", "Established", "ValidPipeline", "RevisionHealthy"}, condition.type) then
            if condition.status == "True" then
              ready = true
            end
          end
        end

        if synced and ready then
          health_status.status = "Healthy"
          health_status.message = "Resource is healthy and synced."
        end

        return health_status
    ignoreDifferences.all: |
      jsonPointers:
        - /spec/resourceRef
        - /spec/claimRef
        - /spec/compositeRef
        - /metadata/finalizers
