apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: tenantenvironment.platform.openco.tech
spec:
  compositeTypeRef:
    apiVersion: platform.openco.tech/v1alpha1
    kind: TenantEnvironment
  mode: Pipeline
  pipeline:
    - step: patch-and-transform
      functionRef:
        name: function-patch-and-transform
      input:
        apiVersion: pt.fn.crossplane.io/v1beta1
        kind: Resources
        resources:
          # GCP Project
          - name: gcp-project
            base:
              apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
              kind: Project
              metadata:
                labels:
                  component: gcp-project
              spec:
                forProvider:
                  autoCreateNetwork: false
                  billingAccount: '0182B4-2FC191-0FCF10'
            patches:
              # Kubernetes resource name: prj-{environment}-{appName}
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: metadata.name
              # GCP display name: prj-{environment}-{appName}
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.name
              # GCP project ID: prj-{environment}-{appName}
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.projectId
              - fromFieldPath: spec.environment
                toFieldPath: metadata.labels[env]
              - fromFieldPath: spec.teamId
                toFieldPath: metadata.labels[team]
              - fromFieldPath: spec.costCenter
                toFieldPath: metadata.labels[cost-center]
              - fromFieldPath: spec.appName
                toFieldPath: metadata.labels[app]
              - fromFieldPath: metadata.uid
                toFieldPath: metadata.ownerReferences[0].uid
              - fromFieldPath: metadata.name
                toFieldPath: metadata.ownerReferences[0].name
              - fromFieldPath: metadata.creationTimestamp
                toFieldPath: metadata.ownerReferences[0].blockOwnerDeletion
            connectionDetails:
              - fromFieldPath: status.atProvider.projectNumber
                name: gcp-project-id
                type: FromFieldPath

          # Enable Required APIs
          - name: compute-api
            base:
              apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
              kind: ProjectService
              metadata:
                labels:
                  component: api-service
              spec:
                forProvider:
                  service: compute.googleapis.com
                  disableOnDestroy: false
            patches:
              - fromFieldPath: spec.appName
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'compute-api-%s'
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.project

          - name: run-api
            base:
              apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
              kind: ProjectService
              metadata:
                labels:
                  component: api-service
              spec:
                forProvider:
                  service: run.googleapis.com
                  disableOnDestroy: false
            patches:
              - fromFieldPath: spec.appName
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'run-api-%s'
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.project

          - name: artifactregistry-api
            base:
              apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
              kind: ProjectService
              metadata:
                labels:
                  component: api-service
              spec:
                forProvider:
                  service: artifactregistry.googleapis.com
                  disableOnDestroy: false
            patches:
              - fromFieldPath: spec.appName
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'artifactregistry-api-%s'
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.project

          - name: iam-api
            base:
              apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
              kind: ProjectService
              metadata:
                labels:
                  component: api-service
              spec:
                forProvider:
                  service: iam.googleapis.com
                  disableOnDestroy: false
            patches:
              - fromFieldPath: spec.appName
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'iam-api-%s'
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.project

          # Service Account
          - name: service-account
            base:
              apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
              kind: ServiceAccount
              metadata:
                labels:
                  component: service-account
              spec:
                forProvider:
                  displayName: Service account for tenant
                  description: Runtime identity for the tenant service
            patches:
              - fromFieldPath: spec.appName
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'sa-%s'
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.project
              - fromFieldPath: spec.appName
                toFieldPath: spec.forProvider.displayName
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'Service account for %s'
              - fromFieldPath: spec.teamId
                toFieldPath: metadata.labels[team]
              - fromFieldPath: spec.environment
                toFieldPath: metadata.labels[env]
            connectionDetails:
              - fromFieldPath: status.atProvider.email
                name: gcp-service-account-email
                type: FromFieldPath

          # Artifact Registry Repository
          - name: artifact-registry
            base:
              apiVersion: artifact.gcp.m.upbound.io/v1beta1
              kind: RegistryRepository
              metadata:
                labels:
                  component: artifact-registry
              spec:
                forProvider:
                  format: DOCKER
                  location: us-central1
                  description: Container image repository for the tenant service
            patches:
              - fromFieldPath: spec.appName
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: 'repo-%s'
              - type: CombineFromComposite
                combine:
                  variables:
                    - fromFieldPath: spec.environment
                    - fromFieldPath: spec.appName
                  strategy: string
                  string:
                    fmt: 'prj-%s-%s'
                toFieldPath: spec.forProvider.project
              - fromFieldPath: spec.teamId
                toFieldPath: metadata.labels[team]
              - fromFieldPath: spec.environment
                toFieldPath: metadata.labels[env]
              - fromFieldPath: spec.costCenter
                toFieldPath: metadata.labels[cost-center]
            connectionDetails:
              - fromFieldPath: status.atProvider.repositoryUrl
                name: artifact-registry-url
                type: FromFieldPath
